.cuadro {
    margin: auto;
    width: 300px;
    height: auto;
    border: 2px solid #000;
    padding: 1%;
    box-shadow: #000 5px 5px 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}