#contenedor {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.card {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
.card img {
    width: 120px;
}